<!--<!doctype html>-->
<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="navbar.html"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<div layout:fragment="content" class="mt-5">-->
<!--    &lt;!&ndash;    <form th:action="@{'/addpost'}" method="post" enctype="multipart/form-data" class="create-form">&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="form-group col-7">&ndash;&gt;-->
<!--    &lt;!&ndash;            <label >Name:</label>&ndash;&gt;-->
<!--    &lt;!&ndash;            <input name="name" type="text" class="form-control mt-2" placeholder="Insert name:">&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="form-group col-7">&ndash;&gt;-->
<!--    &lt;!&ndash;            <label >Author:</label>&ndash;&gt;-->
<!--    &lt;!&ndash;            <input name="author" type="text" class="form-control mt-2" placeholder="Insert author:">&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="create-form-group">&ndash;&gt;-->
<!--    &lt;!&ndash;            <label for="image">Image</label>&ndash;&gt;-->
<!--    &lt;!&ndash;            <input type="file" class="form-control" id="image" name="image" placeholder="Image">&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->

<!--    &lt;!&ndash;        <div class="form-group col-7 mt-3">&ndash;&gt;-->
<!--    &lt;!&ndash;            <label >Price:</label>&ndash;&gt;-->
<!--    &lt;!&ndash;            <input type="tel" name="price" class="form-control mt-2" placeholder="Insert price:">&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->

<!--    &lt;!&ndash;        <div class="form-group col-7 mt-3">&ndash;&gt;-->
<!--    &lt;!&ndash;            <label >CONTENT:</label>&ndash;&gt;-->
<!--    &lt;!&ndash;            <textarea class="form-control" name="content" placeholder="Insert content:"></textarea>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="form-group col-7 mt-3">&ndash;&gt;-->
<!--    &lt;!&ndash;            <label >Category:</label>&ndash;&gt;-->
<!--    &lt;!&ndash;            <select class="form-control" name="category.id" >&ndash;&gt;-->
<!--    &lt;!&ndash;                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">&ndash;&gt;-->
<!--    &lt;!&ndash;                </option>&ndash;&gt;-->
<!--    &lt;!&ndash;            </select>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="form-group col-7 mt-3 mr-auto">&ndash;&gt;-->
<!--    &lt;!&ndash;            <div>&ndash;&gt;-->
<!--    &lt;!&ndash;                <button type="submit" class="btn btn-primary">ADD Post</button>&ndash;&gt;-->
<!--    &lt;!&ndash;            </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;    </form>&ndash;&gt;-->
<!--    <hr>-->
<!--    <form th:action="@{'/addpost'}" method="post" enctype="multipart/form-data" style="margin: 20px;">-->
<!--        <legend>Create product</legend>-->
<!--        <div class="mb-3">-->
<!--            <label  class="form-label">Name</label>-->
<!--            <input type="text"  name="name" class="form-control" placeholder="Name">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="disabledTextInput" class="form-label">Author</label>-->
<!--            <input type="text" id="disabledTextInput" class="form-control" name="author" placeholder="Author">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="disabledTextInput" class="form-label">Content</label>-->
<!--            <input type="text" id="disabledTextInput" class="form-control" name="content" placeholder="Content">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="disabledTextInput" class="form-label">Price</label>-->
<!--            <input type="text" id="disabledTextInput" class="form-control" name="price" placeholder="Price">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="disabledSelect" class="form-label">Category</label>-->
<!--            <select class="form-control" name="category.id" >&ndash;&gt;-->
<!--                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="imgInput" class="form-label"> Image</label>-->
<!--            <input class="form-control" type="file" id="imgInput" name="image">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Submit</button>-->

<!--    </form>-->
<!--</div>-->
<!--</html>-->