<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="navbar.html"
      xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="mt-5">
    <form method="post" th:action="@{'/add-products'}" class="d-flex  flex-column align-items-center p-2">
        <div class="form-group col-7">
            <label >Name:</label>
            <input name="name" type="text" class="form-control mt-2" placeholder="Insert name:">
        </div>
        <div class="form-group col-7">
            <label >Author:</label>
            <input name="author" type="text" class="form-control mt-2" placeholder="Insert author:">
        </div>
        <div class="form-group col-7 mt-3">
            <label >Category:</label>
            <select class="form-control" name="category.id" >
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                </option>
            </select>
        </div>
        <div class="form-group col-7 mt-3">
            <label >Price:</label>
            <input type="tel" name="price" class="form-control mt-2" placeholder="Insert price:">
        </div>
        <div class="form-group col-7 mt-3">
            <label >Image:</label>
            <input type="text" name="image" class="form-control mt-2" placeholder="Insert image:">
        </div>

        <div class="form-group col-7 mt-3">
            <label >CONTENT:</label>
            <textarea class="form-control" name="content" placeholder="Insert content:"></textarea>
        </div>
        <div class="form-group col-7 mt-3 mr-auto">
            <div>
                <button type="submit" class="btn btn-primary">ADD REQUEST</button>
            </div>
        </div>
    </form>
</div>
</html>